{% extends 'base.html' %}

{% block title %}Editar Arquivos{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h1>Lista de Arquivos para Edição</h1>

<ul class="list-group">
    {% for arquivo in arquivos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ arquivo.nome }}</strong> ({{ arquivo.diretoria }})<br>
                <small>{{ arquivo.descricao }}</small>
            </div>
            <div class="btn-group">
                <a href="{{ url_for('editar_arquivo', diretoria=arquivo.diretoria, arquivo=arquivo.nome) }}" class="btn btn-sm btn-primary">Editar</a>
                <form action="{{ url_for('excluir_arquivo', diretoria=arquivo.diretoria, arquivo=arquivo.nome) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir o arquivo &quot;{{ arquivo.nome }}&quot;?')">
                    <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
