<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Intranet Funserv{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


    <h1 class="text-center mb-5">Escolha o setor:</h1>
    <div class="d-flex flex-wrap justify-content-center gap-3 mb-5">
        {% for diretoria in diretorias %}
            <a href="/recados/{{ diretoria }}" class="btn btn-primary btn-lg">
                {{ diretoria }}
            </a>
        {% endfor %}
    </div>

{% endblock %}
